html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.hidden{
    display: none !important;
}

.grey{
    color: rgb(130, 130, 130);
}

.bold{
    font-weight: bold;
}

h1{
    font-size: 40px;
    margin: 20px 0;
}

/* NAV */
nav{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    box-shadow: 0px 5px 15px 4px rgba(0,0,0,0.29);;
}

nav span{
    font-weight: bold;
    font-size: 20px;
}

nav span:first-child{
    color: #d27300;
}

#nav-icons{
    display: flex;
}

#nav-icons img{
    height: 25px;
    width: 25px;
    object-fit: contain;
}

#nav-icons img:first-child{
    object-fit: cover !important;
    border-radius: 50%;
    margin-right: 10px;
}

#wrapper{
    display: flex;
}

/* SHOP  */
#shop{
    width: 75vw;
    position: relative;
    margin-bottom: 100px;
}

#shop-img{
    height: 250px;
    width: 100%;
    object-fit: cover;
    object-position: 0 40%;
}

#shop > *:not(img){
    padding: 0 100px;
}

#shop-info{
    box-shadow:0px 5px 5px rgba(0, 0, 0, 0.1);
}

#rating img{
    height: 10px;
    filter: invert(39%) sepia(94%) saturate(848%) hue-rotate(8deg) brightness(99%) contrast(103%);
}

#info-icons{
    display: flex;
    gap: 20px;
    padding-top: 5px;
}
#info-icons > span{
    display: flex;
    gap: 5px;
    align-items: center;
}
#info-icons > span > img{
    height: 12px;
}

#shop-info > span{
    display: block;
    padding: 10px 0;
}

/* ITEMS  */

.item-card{
    border-radius: 10px;
    border: 1px solid rgb(211, 211, 211);
    padding: 10px;
    margin-bottom: 20px;
    position: relative;
    cursor: pointer;
}

.item-card:hover {
    background-color: rgb(239,  239, 239);
}

h3{
    margin: 0;
}

.item-card p{
    margin-top: 5px;
    margin-bottom: 15px;
}

.item-card button{
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-card button img{
    height: 20px;
    width: 20px;
}

/* BASKET */
#basket{
    position: sticky;
    top: 0;
    height: 100vh;
    width: 25vw;
    border-left: 1px solid rgba(201, 201, 201, 1);
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
}

#basket > h2{
    text-align: center;
}

#empty{
    text-align: center;
    padding: 30px;
}

#empty img{
    height: 30px;
    object-fit: contain;
}

.basket-items{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid gray;
}

.basket-items h3{
    flex: 1 0 75%;
    display: flex;
    gap: 10px;
}

.basket-items > span{
    flex: 1 0 25%;
    text-align: end;
}

#amount-buttons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-basis: 100%;
    flex: 1 0 100%;
    padding-top: 10px;
    gap: 20px;
}

#amount-buttons a{
    color: black;
}

#amount-buttons button{
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#amount-buttons button:hover{
    background-color: white;
}

#amount-buttons button > img{
    width: 40px;
    object-fit: contain;
}

#total-bill{
    width: 100%;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

#total-bill button{
    width: 100%;
    border: none;
    background-color: #d27300;
    border-radius: 50px;
    padding: 10px;
    font-size: 16px;
    color: white;
}


/* Responsive */

#basketBtn{
    display: none;
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, -50%);

    border: none;
    background-color: #d27300;
    color: white;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
}

#numberCircle {
    display: none;
    position: absolute;
    top: 12px;
    text-align: center;
    font-size: 12px;
    border-radius: 50%;
    background: red;
    height: 14px;
    width: 14px;
    justify-content: center;
    align-items: center;
}

#closeBasket{
    display: none;
    position: absolute;
    top: 20px;
    right: 50px;
    height: 32px;
    width: 32px;
    border: none;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 99;
}

#closeBasket img{
    height: inherit;
    width: inherit;
}

@media (min-width: 1001px){
    #basket{
        display: flex !important;
    }
}

@media (max-width: 1000px){
    #basket{
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: white;
        width: calc(100vw - 20px);
        /* animation: slidein 125ms; */
    }

    #closeBasket{
        display: flex;
    }
    #shop{
        width: 100vw;
    }

    #basketBtn{
        display: block;
        font-size: 16px;
    }

    #amount-buttons{
        justify-content: center;
    }

    .basket-items{
        justify-content: center;
    }

    .basket-items > h3{
        flex: unset;
        padding-right: 20px;
    }

    .basket-items > span {
        flex: unset;
    }

    #total-bill{
        align-items: center;
    }
}

@media (max-width: 720px){
    #info-icons{
        font-size: 12px;
    }
    h1{
        font-size: 32px;
    }
}

@media(max-width: 620px){
    #shop > *:not(img){
        padding: 0 40px;
    }

    nav{
        padding: 0 40px;
    }

    nav > span{
        font-size: 16px;
    }
}

@media (max-width: 480px){
    nav span:nth-child(2){
        display:none !important;
    }
    nav{
        padding: 0 20px;
    }
    #shop > *:not(img){
        padding: 0 20px;
    }

    #info-icons{
        flex-wrap: wrap;
        gap: 10px;
    }
}



  