body{
    margin: 0;
}

nav{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    border-bottom: 1px solid black; /*for visual, delete later*/
}

nav span{
    font-weight: bold;
    font-size: 20px;
}

nav span:first-child{
    color: #d27300;
}

#nav-icons img{
    height: 25px;
    width: 25px;
    object-fit: contain;
}

#nav-icons img:first-child{
    object-fit: cover !important;
    border-radius: 50%;
}

#wrapper{
    display: flex;
}

/* SHOP  */
#shop{
    width: 75vw;
    /* height: 200vh; */
}
#shop-img{
    height: 250px;
    width: 100%;
    object-fit: cover;
    object-position: 0 40%;
}

#shop > *:not(img){
    padding: 0 100px;
}

#shop-info{
    border-bottom: 1px solid black;
}

#rating img{
    height: 10px;
    filter: invert(39%) sepia(94%) saturate(848%) hue-rotate(8deg) brightness(99%) contrast(103%);
}

#rating a{
    color: black;
}

#info-icons{
    display: flex;
    gap: 10px;
}
#info-icons > span{
    display: flex;
    gap: 5px;
    align-items: center;
}
#info-icons > span > img{
    height: 12px;
}
/* BASKET */
#basket{
    position: sticky;
    top: 0;
    height: 100vh;
    width: 25vw;
    border-left: 1px solid rgba(201, 201, 201, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(201, 201, 201, 0.65);
}